In [1]:
import requests
import re
import time
import pandas as pd
from elasticsearch import Elasticsearch
from datetime import datetime

In [2]:
urls=["https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2016%2C2015%2C2014%2C2013%2C2012&r=788&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719","https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2016%2C2015&r=381&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719","https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2014%2C2013&r=381&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719","https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2012&r=381&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719","https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2016%2C2015%2C2014&r=724&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719",
     "https://comtrade.un.org/api/get?max=500&type=C&freq=A&px=HS&ps=2013%2C2012&r=724&p=all&rg=2&cc=150910&uitoken=4c599ed9273b53b875f870451acdf719"]

In [3]:
data_olive=[]
product='olive oil'
retailers='comtrade'

In [4]:
def get_content(url):
    url_content=requests.get(url) 
    return url_content.json()

In [5]:
elastic_connection = Elasticsearch('localhost:9200', timeout=3000.0)
counter=0
for url in urls: 
    json_text=get_content(url)
    data=json_text['dataset']
    for i in range (len(data)):
        years=str(data[i]['yr'])
        reporters=data[i]['rtTitle']
        partners=data[i]['ptTitle']
        trade_values=data[i]['TradeValue']
        data_olive_oil={"partners":partners,
                "reporters":reporters, 
                "years":years, 
                "trade_values":trade_values,
                "product":product,
                "retailers":retailers}
        data_olive.append(data_olive_oil)
        doc_id = "%s-%s-%s"%('comtrade.un.org',time.time(),counter)
        counter+=1
        elastic_connection.index(index='trademap',doc_type='export',id= doc_id, body=data_olive_oil)
    time.sleep(1)

In [7]:
#df=pd.DataFrame(data_olive)

In [8]:
#df.head()

    partners    product reporters  trade_values years
0      World  olive oil   Tunisia     329118171  2012
1      World  olive oil   Tunisia     329118171  2012
2    Algeria  olive oil   Tunisia        137870  2012
3  Australia  olive oil   Tunisia        172174  2012
4    Austria  olive oil   Tunisia         85967  2012

In [9]:
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1915 entries, 0 to 1914
Data columns (total 5 columns):
partners        1915 non-null object
product         1915 non-null object
reporters       1915 non-null object
trade_values    1915 non-null int64
years           1915 non-null object
dtypes: int64(1), object(4)
memory usage: 74.9+ KB

In [9]:
#df.to_csv("olive_oil_data.csv")